.module{
    position: fixed;
    left: 50%;
    top:50%;
    margin-top:-1rem;
    width: 6rem;
    height: 1.5rem;
    margin-left: -3rem;
    background: rgba(0,0,0,0.5);
    border-radius: .5rem;
    color:white;
    z-index: 20;
    text-align: center;
    line-height: 1.5rem
}
.code-img {
    display: block;
    width: 10rem
}

.button-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto
}

.bg {
    width: 10rem;
    background-size: 100%;
    background-repeat: no-repeat
}

.bg-1 img{
    /* height: 4.9rem;
    background-image: url(../img/a_1.png) */
    width: 100%;
    display: block;
}

.bg-2, .bg-1{
    background-color: #E9E3D0;

}
.foods{
    width: 9.6rem;
}
.foods a {
    display: block;
    width: 4.7rem;
    height: 4.5rem;
    
}
.foods a:nth-child(1){
    margin-bottom: .15rem;
}
.foods a img{
    width: 100%;
    height: 100%;
    display: block;
}
.bg-3 {
    height: 7.13rem;
    background-image: url(../img/a_2.jpg);
    position: relative;
}
.bg-3::before{
    content: '';
    display: table;
}
.apps{
    width: 9rem;
    /* background: rgba(123,66,99,.5); */
    margin-top: 3rem;
}
.new-img{
    font-size: 0; 
}
.new-img img{
    width: 100%;
}
.apps .apps-btn{
    display: block;
    width: 2rem;
    height: 2.7rem;
}
.apps a img{
    width: 100%;
}

.foodsDetail{
    background-color: #FEFAF7;
    padding-bottom: 1rem
    
}
.foodsDetail>div{
    position: absolute;
    height: 100%;
    width: 9.55rem;
    border-left:.23rem solid #E9E3D0;
    border-right:.23rem solid #E9E3D0;
}
.foodsDetail a{
    z-index: 1;
}
.foodsDetail a img{
    width: 100%;
    margin-bottom: -1rem
}
/* 
.link-button {
    display: block;
    width: 2rem;
    height: 2.65rem;
    background-color: transparent
    background: rgba(123,66,99,.5);
}
.bg-1 .one {
    top: 5.1rem;
    width: 9.6rem;
    height: 9.2rem;
}
.bg-1 .one .link-button {
    width: 4.7rem;
    height: 4.5rem;
}
.bg-2 .button-body {
    top: 1.9rem;
    width: 9.6rem;
    height: 4.3rem;
}
.bg-2 .link-button {
    width: 100%;
    height: 100%;
    margin-bottom: .7rem;
} */